---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
export async function getStaticPaths() {
  const steps = await getCollection('steps');
  return steps.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
	<div class="pre-controls">
		<a href="/"><button class="nav-button ac-1">Back to Main Page</button></a>
	</div>
	<div class="content">
		<h1>{post.data.title}</h1>
		<a
			href={`https://github.com/build-a-browser/BABWebsite/blob/main/src/content/steps/${post.id}.md`}
		>Page Source / Contribute</a><br/>
		{post.data.hashes?.predraft && <><a
			href={`https://github.com/build-a-browser/build-a-browser-predraft/commit/${post.data.hashes.predraft}`}
		>Predraft Commit</a> <span class="predraft-hash">({post.data.hashes.predraft})</span><br/></>}
		<Content />
	</div>
	<div class="content">
		<h3>Example Pages (for testing)</h3>
		{ post.data.examples ? <ul>{ post.data.examples.map(i => <li>
			{i} (<a href={`/examples/${i}`} target="_blank">View</a> | <a href={`/examples/${i}`} download>Download</a>)
		</li>) }</ul> : <p>No related example pages listed</p> }
	</div>
	<div class="content">
		<h3>WPT Pages</h3>
		{ post.data["wpt-pages"] ? <ul>{ post.data["wpt-pages"].map(i => <li>
			<a href={i} target="_blank">{i}</a>
		</li>) }</ul> : <p>No related WPT pages listed</p> }
	</div>
	<div class="post-controls">
		{ post.data['next-step'] && <a href={post.data['next-step'] + ".md"}>
			<button class="nav-button ac-4">Next Page</button>
		</a> }
	</div>
</Layout>

<style>
	.pre-controls,
	.post-controls {
		width: 100%;
		max-width: 82em;
	}
	.pre-controls {
		margin: 2em auto 1em;
	}
	.post-controls {
		margin: 1em auto 25vh;
	}
	.content {
		max-width: 80em;
		padding: 1em;
		margin: 1em auto;
		border: 1px solid var(--color-outlines, gray);
	}
	/* Unfortunately needs to be global to affect the markdown renderer */
	.content :global(a) {
		color: gray;
	}
	.predraft-hash {
		font-size: .8em;
		color: gray;
	}

	@media screen and (max-width: 86em) {
		.pre-controls,
		.post-controls {
			width: auto;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 1em 1em 0;
		}
		.pre-controls > *,
		.post-controls > * {
			flex-grow: 1em;
		}
	}
</style>
